
.carrusel-container
    width: 100%
    height: 907px

.carrusel-container .imagenes
    width: 750px
    height: 467px
    background-repeat: no-repeat
    background-position: center
    background-image: url("../../assets/img/pages/somos_buho/Buho_PrintBck.png")

.hyper-link
    font-family: Graphik
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 16px
    display: flex
    text-decoration-line: underline
    color: #000000

.background-we-are-owl
    background: linear-gradient(199.35deg, #00FF00 46.88%, #03FED7 100%)

.background-design
    background: linear-gradient(199.35deg, #00FFEA 52.6%, #2B31FF 100%)

.background-print
    background: linear-gradient(199.35deg, #FF0054 52.6%, #4200FF 100%)

.background-logistics
    background: linear-gradient(199.35deg, #FFF000 52.6%, #FF2E00 100%)

.background-pickandpack
    background: linear-gradient(199.35deg, #A31BFF 52.6%, #2B31FF 100%)
