.cell
    position: relative
    width: 100%
    height: 100%

    color: $white
    display: flex
    font-size: 10px
    line-height: 10px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    cursor: auto

#header
    background: url('../../assets/Images/Utilities/bottom-image.svg') center bottom no-repeat
    background-size: 100%

#section-background
    background-image: url('../../assets/Images/Utilities/background-section-two.svg')
    background-repeat: no-repeat
    height: 590px
    background-size: 100% 
    background-position: 50% 0%
    z-index: 10
    position: relative
    // background-color: #1e1f26 !important
.section-content-container
    background: url('../../assets/img/bg-section.svg') 50% 105% no-repeat, url('../../assets/img/bg-section-top.svg') 50% 0% no-repeat
    background-size: 100%
    margin-top: -58px
    padding-top: 100px !important

.centered
    position: absolute
    bottom: 1rem
    left: 50%
    transform: translate(-50%, -50%)

video
    position: absolute
    z-index: -1
    background-size: 100% 100%
    top: 0px
    left: 0px
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto

.video-cover
    position: absolute
    top: 50% 
    left: 50%
    -webkit-transform: translateX(-50%) translateY(-50%)
    transform: translateX(-50%) translateY(-50%)
    min-width: 100% 
    min-height: 100% 
    width: auto 
    height: auto
    z-index: -1000 
    overflow: hidden

.video-cover:after
    position: absolute
    top: 0
    left: 0
    display: block
    opacity: 0.9
    background: linear-gradient(199.35deg, #00FF00 46.88%, #03FED7 100%)
    background-blend-mode: multiply
    display: block
    z-index: 1
    content: ""
    height: 100%
    width: 100%

.viewport-header
    position: relative
    height: 100vh
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    background-color: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7))

p.text-video
    font-family: "Graphik"
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 18px
