
.we-are-owl
    color: #00FF00

.we-are-owl-border
    border-color: #00FF00

.design
    color: #00ffea !important

.design-border
    border-color: #00ffea !important

.print
    color: #FF0054
.print-border
    border-color: #FF0054 !important

.logistics
    color: #FFF000
.logistics-border
    border-color: #FFF000 !important

.pickandpack
    color: #A31BFF
.pickandpack-border
    border-color: #A31BFF !important

.products
    color: #0047FF
.products-border
    border-color: #0047FF !important

.Formulario .titulo
    font-family: DTLHaarlemmerD
    font-style: normal
    font-weight: normal
    font-size: 100px
    line-height: 110px

.Formulario .info
    font-family: Graphik
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 24px
    color: #B8B8BF

.Formulario .titulo2
    font-family: Graphik
    font-style: normal
    font-weight: normal
    font-size: 30px
    line-height: 45px

.Formulario .label
    font-family: Graphik
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 24px
    color: #F0F0F3

.Formulario .btn-outline-enviar
    color: #ffffff

.Formulario .form-control
    background-color: #000000
    color: #F0F0F3

@media only screen and ( max-width: 668px )
    .Formulario .titulo
        font-family: DTLHaarlemmerD
        font-style: normal
        font-weight: normal
        font-size: 70px
        line-height: 80px
