$color-text-we-are-owl: #00FF00
$color-text-design: #00FFEA
$color-text-print: #FF0054
$color-text-logistics: #FFF000
$color-text-pickandpack: #A31BFF
$color-text-products: #0047FF

@mixin define-text-color($section)

    @if $section == "we-are-owl"
        color: $color-text-we-are-owl
    @else if $section == "design"
        color: $color-text-design
    @else if $section == "print"
        color: $color-text-print
    @else if $section == "logistics"
        color: $color-text-logistics
    @else if $section == "pickandpack"
        color: $color-text-pickandpack
    @else if $section == "products"
        color: $color-text-products
    @else
        @error "Unknown section #{$section}."

.hamburgeroverlay
    position: absolute
    z-index: 10000
    width: 100%
    height: 100%
    // background-color: rgba(15,16,18,0.0)
    // transition: background-color 0.4s
    transition: opacity 0.4s
    opacity: 0
    background-color: rgba(15,16,18,0.95)
    visibility: hidden
    &.active
        // background-color: rgba(15,16,18,0.95)
        visibility: visible
        opacity: 1

    ul
        list-style: none
        padding-top: 15vh
        li
            cursor: pointer
            &:hover
                p
                    &.we-are-owl
                        @include define-text-color("we-are-owl")

                    &.design
                        @include define-text-color("design")

                    &.print
                        @include define-text-color("print")

                    &.logistics
                        @include define-text-color("logistics")

                    &.pickandpack
                        @include define-text-color("pickandpack")

                    &.products
                        @include define-text-color("products")
            p
                transition: all 0.4s
                color: white
                font-family: "Graphik"
                font-style: normal
                font-weight: 500
                font-size: 8.5vh
                line-height: 10vh
                margin-bottom: 0
    .contact-btn
        margin-top: 4.2vh
        border: 1px solid white
        display: inline-block
        &:hover
            transition: border 0.4s
            border: 1px solid #FF0054
        p
            font-style: normal
            font-weight: 500
            font-size: 2.4vh
            line-height: 2.6vh
            padding: 2vh 5.16vh
    .lang-btn
        display: inline-block
        &.lang-es
            margin-left: 5vh
            padding-right: 1.6vh
            border-right: 2px solid white
            margin-right: 1.6vh
        &.active
            p
                opacity: 1
        p
            opacity: 0.5
            font-style: normal
            font-weight: 500
            font-size: 2.6vh
            line-height: 2.8vh
            text-decoration: underline

    