.hamburgeroverlay
    position: absolute
    z-index: 5000
    width: 100%
    height: 100%
    background-color: rgba(15,16,18,0.95)
    ul
        list-style: none
        li
            p
                color: white
                font-family: Graphik
                font-style: normal
                font-weight: 500
                font-size: 70px
                line-height: 80px
    